.container{
  display:grid;
  justify-content: center;
}

.comboControls,
.rollButtons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 100%; */
  min-width: 300px;
}

@media (min-width: 640px) {
  .comboControls {
    min-width: 500px;
  }
}

.comboControls{
  color: #000;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.totalPrice {
  margin-top: 1rem;
  font-weight: bold;
}

.cardList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.rollContainer{
  display: grid;
  justify-content: center;
}