.randomCardsContainer {
  padding: 3rem;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.comboControls,
.rollButtons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.totalPrice {
  margin-top: 1rem;
  font-weight: bold;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
