.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.comboControls,
.rollButtons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.comboControls{
  color: #000;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.totalPrice {
  margin-top: 1rem;
  font-weight: bold;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.fullWidthSelect {
  width: 300px;
  max-width: 100%;
}