#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  /* padding: 2rem; */
  /* justify-content: center; */
}

.app{
  padding: 1rem;
}

.card {
  padding: 2em;
}

.floating-button {
  display: flex;                
  align-items: center;          
  justify-content: center;
  border: none;
  border-radius: 50%;
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.2s ease;
}

.floating-button-no-bg{
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.floating-button-no-bg:hover {
  background-color: transparent;
  color: inherit !important;
  cursor: default;
}

.button-blue {
  background-color: #3b82f6;
  transition: all 0.2s ease;
  border: 0px;
}

.button-blue:hover {
  background-color: #2563eb;
}