@import "tailwindcss";

:root {
  --color-light-bg: #e4eaf2;
  --color-dark-bg: #2a4359;
  --color-light: #e4cef2;
  --color-center: #dfc2f2;
  --color-dark: #a884bf;

  --color-text-light: #000;
  --color-text-dark: #fff;

  --color-bg-battle-game-light: #d1d5dc;
  --color-bg-battle-game-dark: #6a7282;

  --color-indigo-light: oklch(67.3% 0.182 276.935);
  --color-indigo-dark: oklch(58.5% 0.233 277.117);
  --color-violet-light: oklch(70.2% 0.183 293.541);
  --color-violet-dark: oklch(60.6% 0.25 292.717);

  /* Success */
  --color-success: #6fbfa5;
  --color-success-hover: #5ba78f;
  /* Warning */
  --color-warning: #d9a25f;
  --color-warning-hover: #c48847;
  /* Danger */
  --color-danger: #c96a7b;
  --color-danger-hover: #b15868;
  /* Info */
  --color-info: #7a9acb;
  --color-info-hover: #6784b3;

  --color-background: var(--color-light-bg);
  --color-text: var(--color-dark-bg);
  --color-button-bg: var(--color-light);
  --color-button-hover: var(--color-center);
  --color-button-selected: var(--color-dark);

  --color-input-range-duration: var(--color-violet-light);
  --color-input-range-volume: var(--color-indigo-light);

  --color-bg-battle-game: var(--color-bg-battle-game-light);

  /* Equipments */
  --eq-container-bg: #030712;
  --eq-container-border: #0092b8;
  --eq-header-text: #00d3f3;
  --eq-header-border: #104e64;
  --eq-stat-text: #99a1af;
  --eq-stat-text-plus: #05df72;
  --eq-stat-text-minus: #ff6467;
}

body {
  font-family: sans-serif;
  margin: 0;
  transition: background 0.3s, color 0.3s;
  /* padding: 2rem; */
}

button {
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-button-selected);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  color: inherit;
}

button:hover {
  background-color: var(--color-button-hover);
}

.button-success {
  background-color: var(--color-success);
}
.button-success:hover {
  background-color: var(--color-success-hover);
}
.button-warning {
  background-color: var(--color-warning);
}
.button-warning:hover {
  background-color: var(--color-warning-hover);
}
.button-danger {
  background-color: var(--color-danger);
}
.button-danger:hover {
  background-color: var(--color-danger-hover);
}
.button-info {
  background-color: var(--color-info);
}
.button-info:hover {
  background-color: var(--color-info-hover);
}

.dark-container {
  background-color: var(--color-background);
  color: var(--color-text);

  --color-background: var(--color-dark-bg);
  --color-text: var(--color-light-bg);
  --color-button-bg: var(--color-dark);
  --color-button-selected: var(--color-light);

  --color-text-light: #2c2c2c;
  --color-text-dark: #f5f5f5;

  --color-input-range-duration: var(--color-violet-light);
  --color-input-range-volume: var(--color-indigo-light);

  --color-bg-battle-game: var(--color-bg-battle-game-dark);

  /* Equipments */
  --eq-container-bg: #030712;
  --eq-container-border: #0092b8;
  --eq-header-text: #00d3f3;
  --eq-header-border: #104e64;
  --eq-stat-text: #99a1af;
  --eq-stat-text-plus: #05df72;
  --eq-stat-text-minus: #ff6467;
}

.dark-container button:hover,
.dark-container .selected-tab {
  color: var(--color-background);
}

.light-container {
  background-color: var(--color-background);
  color: var(--color-text);

  --color-background: var(--color-light-bg);
  --color-text: var(--color-dark-bg);
  --color-button-bg: var(--color-light);
  --color-button-selected: var(--color-dark);

  --color-text-light: #fff;
  --color-text-dark: #000;

  --color-input-range-duration: var(--color-violet-dark);
  --color-input-range-volume: var(--color-indigo-dark);

  --color-bg-battle-game: var(--color-bg-battle-game-light);

  /* Equipments */
  --eq-container-bg: white;
  --eq-container-border: #51a2ff;
  --eq-header-text: #155dfc;
  --eq-header-border: #bedbff;
  --eq-stat-text: #6a7282;
  --eq-stat-text-plus: #00a63e;
  --eq-stat-text-minus: #e7000b;
}

.light-container button:hover,
.light-container .selected-tab {
  color: var(--color-background);
}

.header-page{
  background: var(--color-background);
}

.selected-tab {
  background-color: var(--color-button-selected);
  font-weight: bold;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  border: 2px solid var(--color-text);
  padding: 5px;
  border-radius: 5px;
  height: fit-content;
  z-index: 3;
}

@media (max-width: 880px) {
  .sidebar {
    position: absolute;
    background: var(--color-background);
    right: 75px;
    top: 115px;
  }
}

.bg-game {
  background: var(--color-text-light);
  color: var(--color-text-dark);
}

.bg-game-animate {
  background: var(--color-bg-battle-game);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  /* gap: 1rem;
  padding: 1rem; */
}

.bg-game-secondary {
  background: var(--color-background);
  color: var(--color-text);
}

.toggle-game-stats {
  font-weight: 600;
  display: flex;
  align-items: center;
  border: 0 !important;
  background-color: transparent !important;
  color: inherit !important;
}

.bgm-input-range-duration {
  accent-color: var(--color-input-range-duration);
}

.bgm-input-range-volume {
  accent-color: var(--color-input-range-volume);
}

.new-icon {
  mix-blend-mode: multiply;
  transition: mix-blend-mode 0.2s ease, filter 0.2s ease;
}
.dark-container .new-icon {
  mix-blend-mode: color;
}
.dark-container a:hover .new-icon {
  mix-blend-mode: multiply;
}

.special-icon {
  background: var(--color-button-bg);
  border-radius: 100%;
}

.option-list-spacing button {
  padding: 0.5rem 0rem;
}

.eq-text {
  color: var(--color-text);
}

.eq-container {
  background-color: var(--eq-container-bg);
  border: 2px solid var(--eq-container-border);
}

.eq-header {
  color: var(--eq-header-text);
  border-bottom: 1px solid var(--eq-header-border);
}

.eq-stat-text {
  color: var(--eq-stat-text);
}
.eq-stat-text-plus {
  color: var(--eq-stat-text-plus);
}
.eq-stat-text-minus {
  color: var(--eq-stat-text-minus);
}
