@import "tailwindcss";

:root {
  --color-light-bg: #e4eaf2;
  --color-dark-bg: #2a4359;
  --color-light: #e4cef2;
  --color-center: #dfc2f2;
  --color-dark: #a884bf;

  --color-card-bg: #000;
  --color-card-text: #fff;

  --color-background: var(--color-light-bg);
  --color-text: var(--color-dark-bg);
  --color-button-bg: var(--color-light);
  --color-button-hover: var(--color-center);
  --color-button-selected: var(--color-dark);
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  transition: background 0.3s, color 0.3s;
}

button {
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-button-selected);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  color: inherit;
}

button:hover {
  background-color: var(--color-button-hover);
}

.dark-container {
  background-color: var(--color-background);
  color: var(--color-text);

  --color-background: var(--color-dark-bg);
  --color-text: var(--color-light-bg);
  --color-button-bg: var(--color-dark);
  --color-button-selected: var(--color-light);

  --color-card-bg: #2c2c2c;
  --color-card-text: #f5f5f5;
}

.dark-container button:hover,
.dark-container .selected-tab {
  color: var(--color-background);
}

.light-container {
  background-color: var(--color-background);
  color: var(--color-text);

  --color-background: var(--color-light-bg);
  --color-text: var(--color-dark-bg);
  --color-button-bg: var(--color-light);
  --color-button-selected: var(--color-dark);

  --color-card-bg: #fff;
  --color-card-text: #000;
}

.light-container button:hover,
.light-container .selected-tab {
  color: var(--color-background);
}

.selected-tab {
  background-color: var(--color-button-selected);
  font-weight: bold;
}

.roll-tab {
  cursor: pointer;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  border: 2px solid var(--color-text);
  padding: 5px;
  border-radius: 5px;
  height: fit-content;
  z-index: 3;
}

@media (max-width: 880px) {
  .sidebar {
    position: absolute;
    background: var(--color-background);
    right: 75px;
    top: 115px;
  }
}

.bg-game{
  background: var(--color-card-bg);
  color: var(--color-card-text);
}

.bg-game-secondary{
  background: var(--color-background);
  color: var(--color-text);
}

.bg-game-secondary:has(div){
  padding: 0.25rem;
}

.toggle-game-stats{
  font-weight: 600;
  display: flex;
  align-items: center;
  border: 0 !important;
  background-color: transparent !important;
  color: inherit !important;
}