:root {
  --color-light-bg: #E4EAF2;
  --color-dark-bg: #2A4359;
  --color-light: #E4CEF2;
  --color-center: #DFC2F2;
  --color-dark: #A884BF;

  --color-card-bg: #000;
  --color-card-text: #fff;

  --color-background: var(--color-light-bg);
  --color-text: var(--color-dark-bg);
  --color-button-bg: var(--color-light);
  --color-button-hover: var(--color-center);
  --color-button-selected: var(--color-dark);
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  transition: background 0.3s, color 0.3s;
}

h1 {
  margin-bottom: 2rem;
}

button {
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-button-selected);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  color: inherit;
}

button:hover {
  background-color: var(--color-button-hover);
}

.dark-container {
  background-color: var(--color-background);
  color: var(--color-text);

  --color-background: var(--color-dark-bg);
  --color-text: var(--color-light-bg);
  --color-button-bg: var(--color-dark);
  --color-button-selected: var(--color-light);

  --color-card-bg: #2c2c2c;
  --color-card-text: #f5f5f5;
}

.dark-container button:hover,
.dark-container .selected-tab {
  color: var(--color-background);
}

.light-container {
  background-color: var(--color-background);
  color: var(--color-text);

  --color-background: var(--color-light-bg);
  --color-text: var(--color-dark-bg);
  --color-button-bg: var(--color-light);
  --color-button-selected: var(--color-dark);

  --color-card-bg:#fff;
  --color-card-text: #000;
}

.light-container button:hover,
.light-container .selected-tab {
  color: var(--color-background);
}

.selected-tab {
  background-color: var(--color-button-selected);
  font-weight: bold;
}

.roll-tab {
  cursor: pointer;
  margin-right: 0.5rem;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
